$primary-color: #ffefe7;
$secondary-color: #ffdac6;
$tertiary-color: #babd8d;
$quaternion-color: #fa9500;
$primary-text-color: #7c6a0a;
$font-stack:'IBM Plex Sans', sans-serif;

@mixin flexCenter ($direction,$content,$align){
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
}


body {
    margin: 0;
    padding: 0;
    background-color: $primary-color;
    font-family: $font-stack;
    font-size: 62.5%;
}


main{
    @include flexCenter(column,center,center);
    width: 100%;
    box-sizing: border-box;
}

nav{
    width: auto;
    height: 60px;
    @include flexCenter(row,space-between,center);
    color: $primary-text-color;
    border-bottom: 1px solid gray;
    p{
        font-size: 1.7rem;
        padding-left: 30px;
    }
    .icons {
        display: flex;
        gap: 8px;
        button{
            background-color: transparent;
            border: none;
        }
    } 
}




article{
    color: $primary-text-color;
    width: 90%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    .impact-section{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    h1{
        font-size: 2.4rem;
    }
    p {
        font-size: 1rem;
    }
    button{
        width: 140px;
        height: 40px;
        background-color: $quaternion-color;
        border-style: none;
        border-radius: 35px;
        color: white;
        font-size: 1em;
        margin-top: 20px;
        padding: auto;
        &:hover{
            transform: scale(1.1);
            transition-duration: 0.3s;
        }
        a{
            text-decoration: none;
            font-size: 1rem;
            color: white;
        }
    } 
    .image-section{
        width: 100%;
        display: flex;
        justify-content: end;

        img{
            border-radius: 19px;
            height: 400px;
        }         
    }
}

section {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    margin-top: 40px;
    h2{
        color: $primary-text-color;
        font-size: 26px;
        font-weight: 500;
    }
    .health-care{
        width: 100%;
        h2{
            font-weight: 500;
            font-size: 24px;
        } 
        .card-section {
            position: relative;
            width: 100%;
            @include flexCenter(row,center ,center );
            flex-wrap: wrap;
            column-gap: 100px;
            row-gap: 80px;
            padding: 40px 0;
        }
        .product-card {
            position: relative;
            @include flexCenter(row,center ,center );
            width: 232px;
            min-height: 380px;
            border-radius: 8px;
            background-color: #ffdac6;
            color: $primary-text-color;
            // &:hover{
            //     transform: scale(1.1);
            //     transition-duration: 0.3s;
            // }
            svg{
                position: absolute;
                top: 2px;
                left: 205px;
            }
            .product-card--info {
                width: 240px;
                @include flexCenter(column,center ,center);
                padding: 20px;
            img{
                width: 200px;
                height: 260px;
                border-radius: 10px;
            }
            h3{                             
                font-size: 20px;
                margin: 10px 0 0 0;
            }
            p{
                text-align: center;
                font-size: 12px;
                margin: 0;
            }
        }
    }
}

    .furniture {
        @extend .health-care;
        .product-card{
            background-color: $tertiary-color;
            color: white
        }
    }
}

.mision-section{
    padding:50px;
    gap: 15px;
    @include flexCenter(row,space-evenly,center);
    .earth{
        @include flexCenter(row,center,center);
        width: 500px;
        
        gap: 10px;
        img{
            width: auto;
            height: 120px
        }
        p{
            font-size: 19px;
            color: #E86424;
            text-align: center
        }
    
    }
    .innovation{
        @include flexCenter(row,center,center);
        width: 500px;
        font-size: 19px;
        color: #E86424;
        img{
            width: auto;
            height: 120px;
        }
        p{
            font-size: 19px;
            color: #E86424;
            text-align: center
        }
    }
}

.gallery-images{
    @include flexCenter(row,center,center);
    gap: 50px;
    padding-top: 40px;

    img{
        width: 400px;
        height: 300px;
        object-fit: cover;
        object-position: 5px 35%;
        border-radius: 16px;
        &:hover{
            transform: scale(1.1);
            transition-duration: 0.3s;
        }
    }
}

.location{
    padding-top: 50px;
    .map{
        @include flexCenter(column,flex-start ,center);
        padding-top: 50px;
        padding-bottom: 15px;
        width: 100%;
        img{
            object-fit: cover;
            width: 100%;
            height: 420px;
        }
    }
    h3{
        font-size: 20px;
        color: $quaternion-color;
    }
    p{
        font-size: 15px;
        color: $quaternion-color;
    }
}

footer{
    background-color: $quaternion-color;
    width: 100%;
    height: auto;
    padding: 40px 0 0 60px;
    margin-top: 65px;
    color: white;
    box-sizing: border-box;
    .social-media{
        @include flexCenter(row,center ,center);
        gap: 10px;
        padding-bottom: 40px;
        img{
            width: auto;
            height: 20px;
        }
    }
}

